div.tool-bar {
  height: 42px;
  background-color: #ffffff;
}

.tool-bar div.tool-bar-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.tool-bar .tool-bar-wrapper>div {
  display: flex;
  height: 100%;
  align-items: center;
  box-sizing: border-box;
}

.tool-bar .tool-bar-wrapper div.city {
  flex: 1;
  padding: 0 20px;
}

.tool-bar .tool-bar-wrapper .city select {
  width: 100%;
  border: 1px solid black;
}

.tool-bar .tool-bar-wrapper div.write-review,
.tool-bar .tool-bar-wrapper div.filter {
  margin: 0 12px;
}

.tool-bar .tool-bar-wrapper div img{
  height: 20px;
  width: 20px;
}
