div.school-list{
}

.school-list div.school-list-wrapper {
  height: 100%;
}

.school-list .school-list-wrapper div.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-size: 36px;
  font-family: Helvetica;
  font-weight: bold;
}