div.school {
  height: 62px;
  margin: 2px 0;
}

.school div.school-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 22px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.school .school-wrapper div.school-name {
  flex: 7;
  font-family: Helvetica;
  font-size: 16px;
  letter-spacing: 0.4px;
  text-align: left;
  color: #191919;
}

.school .school-wrapper div.rating {
  flex: 3;
  font-size: 20px;
}