div.review-page {

}

.review-page div.review-page-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background-size: #f6f6f6;
}

.review-page .review-page-wrapper>div.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #ffbd8f;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

.review-page .review-page-wrapper form {
  background-color: #f6f6f6;
}

.review-page .review-page-wrapper form>div{
  margin: 2px 0;
  background-color: #ffffff
}

.review-page .review-page-wrapper form div.city-select{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px 22px 18px 22px;
  box-sizing: border-box;
}

.review-page .review-page-wrapper form .city-select div.text{
  margin-bottom: 14px;
  font-family: Helvetica;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #191919;
}

.review-page .review-page-wrapper form .city-select div.text:last-of-type{
  margin-top: 10px;
}

.review-page .review-page-wrapper form>div select {
  border: 1px solid black;
  width: 200px;
  height: 24px;
}

.review-page .review-page-wrapper form div.checkbox-section{
  padding: 16px 22px 20px 22px;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #191919;
}

.review-page .review-page-wrapper form .checkbox-section>div.mdc-form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px;
  width: 100%;
}

.review-page .review-page-wrapper form .checkbox-section>div.mdc-form-field>div#labeled-checkbox {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0;
}

.review-page .review-page-wrapper form .ratings-section {
  padding: 18px 22px;
  box-sizing: border-box;
}

.review-page .review-page-wrapper form .ratings-section>div.title {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #191919;
}

.review-page .review-page-wrapper form .ratings-section div.question {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: left;
  color: #191919;
  margin: 18px 0;
}

.review-page .review-page-wrapper form .additional-comments {
  padding: 18px 22px 26px 18px;
  box-sizing: border-box;
}

.review-page .review-page-wrapper form .additional-comments div.comment-title {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 12px;
}

.review-page .review-page-wrapper form .additional-comments .comment-input textarea {
  height: 90px;
  width: calc(100% - 6px);
  resize: none;
  border: solid 1px #15a1c3;
}

.review-page .review-page-wrapper form div.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-page .review-page-wrapper form button {
  background-color: #15a1c3;
  color: #ffffff;
  border: 0;
  height: 35px;
  width: 100%;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}