div.home {
  height: 100%;
}

.home div.home-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.home .home-wrapper div.title {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
}

.home .home-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.home .home-wrapper form div.location {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20%;
}

.home .home-wrapper form .location select {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid black;
  margin-left: 6px;
}

.home .home-wrapper form button.view-school-button {
  width: 211px;
  height: 35px;
  background-color: #2d9cf5;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  border: none;
}