div.reported-cases {
  padding: 10px 22px;
  width: 100%;
  box-sizing: border-box;
}

.reported-cases div.reported-cases-title {
  font-family: Helvetica;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #191919;
}

.reported-cases canvas {
  margin-top: 12px;
}